/* css file */
body {
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    margin: 1vw;
    padding: 1vw;
    background-color: #dbedf1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    
}
pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  width:500px;
  height:auto;
  overflow-x:auto;
}

.rendered-html {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  width:500px;
  height:auto;
  overflow-x:auto;
}

.nav-link {
  text-decoration:none;
  color:black;
  visited {
    color: inherit;
  }
  hover {
    color:purple
  }
}

